a {
    color: #007be6;
}

table > thead > tr > th {
    vertical-align: middle;
}

.colors-expl-item {
    display: inline-block;
}

.menu-wrapper {
    height: 65px;
}

.navbar-logo {
    height: 42px;
    margin-top: 7px;
    margin-left: 20px;
}

.navbar-toggle {
    right: 10px;
}

.custom-nav {
    border-bottom: 5px #e2e1e1 solid;
}

.content {
    /*background-color: #eeeeeecc;*/
    /*border-radius: 10px;*/
}


.wrapper {
    height: 100%;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.31'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

p {
    font-size: 15px;
}

.left-side {
    border: 1px #C9C9C9 solid;
    background-color: #D7D7D7;
    width: 48.5%;
    min-height: 80vh;
    float: left;
    padding: 10px;
    margin: 1% 0.5% 1% 1%;
    border-radius: 8px;
}

.right-side {
    border: 1px #C9C9C9 solid;
    background-color: #D7D7D7;
    width: 48.5%;
    min-height: 80vh;
    float: right;
    padding: 10px;
    margin: 1% 1% 1% 0.5%;
    border-radius: 8px;
}

.content-inner {
    border: 1px #C9C9C9 solid;
    background-color: #eaeaea94;
    width: 60%;
    min-height: 85vh;
    float: left;
    padding: 10px;
    margin: 1% 20% 1% 20%;
    border-radius: 8px;
}

.content-post {
    border-radius: 8px;
    border: 1px #dbdbdb solid;
    background-color: #efefef;;
    padding: 2% 3% 3% 3%;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

.post-image {
    display: block;
    margin: 10px auto;
    max-height: 100vh;
    max-width: 100%;
}

.add-post-btn{
    display: block;
    margin: 0 4.8%;
}

.post-btn {
    display: block;
    margin: 0 auto;
    width: 91%;
}

.content-post > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-pagination {
    text-align: center;
}

.pagination > .disabled > a  {
    background-color: #D0D0D0;
}

.pagination > .disabled > a:hover  {
    background-color: #D0D0D0;
}

.pagination > li a:hover {
    background-color: #F1F1F1;
}

.navbar-right {
    padding-right: 15px;
}

.dropdown-menu {
    background-color: #f9f9f9;
}

.dropdown > ul li a:hover {
    background-color: #d9d9d9;
}

.footer {
    background-color: #ececec;
    opacity: 0.75;
    min-height: 15vh;
}

.footer-text {
    border-top: 1px #c1c1c1 solid;
    margin-top: 9px;
    height: 60px;
    padding-bottom: 0px;

}

.footer-text p {
    top: 22%;
    position: relative;
    text-align: center;
}

body#menu-posts #menu-posts {
    background-color:#e2e1e1;
}

body#menu-projects #menu-projects {
    background-color:#e2e1e1;
}

body#menu-employees #menu-employees {
    background-color:#e2e1e1;
}

body#menu-admin #menu-admin {
    background-color:#e2e1e1;
}

.post-content > img {
    display: block;
    margin: 10px auto 10px;
    max-height: 100vh;
    max-width: 100%;

}

.js-textarea-minr1-maxr10 {
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 7px;
    border: 1px #CCCCCC solid;
}

.js-textarea-minr10 {
    display: block;
    width: 100%;
    padding: 7px;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
}

.js-textarea-minr1 {
    display: block;
    width: 100%;
    padding: 7px;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
}

.js-textarea-minr3 {
    display: block;
    width: 100%;
    padding: 7px;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
}

.comment-text {
    background-color: #F7F7F7;
    border: 1px #D3D3D3 solid;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
}

.comments {
    padding-top: 30px;
    border-top: 2px #C8C8C8 solid;
}

.comment-author-time {
    margin-left: 18px;
}

.time {
    font-size: 11px;
}

.post-title-time {
    text-align: center;
}

.post-title-time a {
    font-size: 20px;
    font-weight: bolder;
}

.prev-next-btns {
    display: none;
}

.comment-text-wrapper {
    word-wrap: break-word;
}

.break-words {
    word-wrap: break-word;
}

.post-title-time h4 {
    margin-top: 6px;
}

.upd-post-btn {
    margin: 0 auto;
    width: 90%;
}

.upd-post-btn-wrapper {
    text-align: center;
}

table {
    table-layout: fixed;
    text-align: center;
}

td, th {
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

.create-empl-or-not-flag-form {
    text-align: center
}

.extend-table {
    display: none;
    padding-left: 40px;
    text-align: center;
    visibility: collapse;
    width: 0%;

}

.hidden-default {
    display: none;
}

.table-back {
    background-color: #eaeaea75;
}

.search-wrapper {
    background-color: #eaeaea75;
    padding: 2%;
}

.add-empl-btn {
    display: block;
}

.add-proj-btn {
    display: block;
}

.submit-search {
    display: block;
    width: 150px;
    margin: 0 auto;
}

td > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D9D9D9;
    margin: 3px 0 3px 0;
    padding: 0;
}

.attach-btn {
    font-size: 12px;
}

.delete-btn {
    font-size: 12px;
}

.empl-photo {
    display: block;
    text-align: center;
    width: 40%;
    margin: 10px auto;
}

.btn-center {
    display: block;
    margin: 0 auto;
}

#edit-page-wrapper {
    padding: 10px;
}

.full-width {
    width: 100%;
}

.prj-in-progress {
    color: #3ccc65;
}

.tr-in-progress {
    background-color: #4ae0241f !important;
}

.prj-overdue {
    color: #e86034;
}

.tr-in-overdue  {
    background-color: #ef4d001f !important;
}

.prj-inactive {
    color: #00d8d7;
}

.tr-in-inactive {
    background-color: #12dcc924 !important;
}

.prj-complete {
    color: #e2d000;
}

.tr-in-complete {
    background-color: #ffd30030 !important;
}

.empl-fired {
    color: rgba(150, 150, 150, 0.8);
}

.empl-fired-bg {
    background-color: rgba(155, 92, 10, 0.2);
}

td a {
    font-weight: bolder;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 3px solid #fff;
}

.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 3px solid #fff;
}

.colors-expl {
    text-align: center;
    font-size: 12px;
}

.colored-square {
    font-size: 14px;
}

ul li .logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 3px 20px;
    background-color: #F9F9F9;
    border: none;
}

li .logout:hover {
    background-color: #D9D9D9;
}

.navbar-default .main-nav > li > a:hover,
.navbar-default .main-nav > li > a:focus {
    font-weight: bold;
}

.login-logo {
    display: block;
    margin: 0 auto;
}

.like-div {
    height: 23px;
    text-align: center;
}

.like-form {
    display: block;
    float: right;
}

.post-likes {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.like-btn-p {
    margin-bottom: 0;
    color: #224F78;
}

.like-submit-btn {
    padding-top: 0;
    padding-bottom: 0;
}

.error-p {
    text-align: center;
}


/*SMARTPHONES*/
@media (max-width: 480px) {

    .wrapper {
        background-color: #f2f2f2;
        height: auto;
        background-image: none;
        -o-background-size: auto;
        -webkit-background-size: auto;
        background-size: auto;
    }

    .login-logo {
        width: 90%;
    }

    .empl-photo {
        width: 100%;
    }

    .extend-table {
        display: table-cell;
        visibility: visible;
        width: 32px;
    }

    .post-next {
        display: none;
    }

    .pre-previous {
        display: none;
    }

    p {
        font-size: 14px;
    }


    .content-post {
        max-width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .add-post-btn {
        display: block;
        margin: 0 2%;
    }

    .post-btn {
        display: block;
        margin: 0 auto;
        width: 96%;
    }

    .js-textarea-minr1-maxr10 {
        padding: 13px 17px 13px 13px;
    }

    .js-textarea-minr10 {
        display: block;
        margin: 10px auto;
        width: 90%;
        padding: 9px;
        border: 1px #CCCCCC solid;
    }

    .js-textarea-minr1 {
        display: block;
        margin: 10px auto;
        width: 90%;
        padding: 9px;
        border: 1px #CCCCCC solid;
    }

    .js-textarea-minr3 {
        display: block;
        margin: 10px auto;
        width: 90%;
        padding: 9px;
        border: 1px #CCCCCC solid;
    }

    .content {
        width: 97%;
        margin: 0 auto;
    }
    .content-inner {
        width: 98%;
        margin: 1% 1% 1% 1%;
        padding-left: 0;
        padding-right: 0;
    }
    .content-container{
        padding-right: 0;
        padding-left: 0;
    }
    .pagination > li a {
        font-size: 13px;
        color: #353535;
        padding: 15px;
    }

    .pagination > li a.etc {
        padding: 15px 4px 15px 4px;

    }

    .laquo-lg {
        display: none;
    }

    .raquo-lg {
        display: none;
    }

    .prev-next-btns {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .previous-btn {
        display: inline-block;
        width: 47%;
        margin-right: 1%;
    }

    .next-btn {
        display: inline-block;
        width: 47%;
        margin-left: 1%;
    }

    .prev-post {
        display: none;
    }

    .next-post {
        display: none;
    }

    .time {
        font-size: 13px;
    }

    .post-title-time a {
        font-size: 18px;
    }

    .comment-author-time {
        margin-left: 7px;
    }

    .post-input-img {
        margin-left: 5%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .content-inner {
        width: 90%;
        margin: 1% 5%;
    }

    .extend-table {
        display: table-cell;
        visibility: visible;
        width: 32px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .extend-table {
        display: table-cell;
        visibility: visible;
        width: 32px;
    }

    .content-inner {
        width: 80%;
        margin: 1% 10%;
    }
}

